<% if user_signed_in? %>
    <div id="receitas_fav" class="tdyw-modal-box alpha60"> 
        <div class="tdyw-modal">
          <div class="tdyw-modal-title">
            Favoritos | Escolher receita
            <div class="close2">
                <%= link_to image_tag("selected.png", :border => 0), "javascript:;", {:class => 'tdyw-close-modal'} %>
            </div>
          </div>
          <div class="tdyw-modal-content">
            <div class="mt5">
                <%= form_tag '/ee_receitas_fav', :id => 'receitas_fav_form' do %>
                    <% if @receitas_fav.length == 0 %>
                        <p>Não tens nenhuma receita nos teus favoritos.</p>
                    <% else %>
                        <div id="chosen-restricoes" class="ingredientes-menu">
                            <%= select_tag("receita", options_from_collection_for_select(@receitas_fav, "id", "nome"), {:class =>'chosen-select4', :include_blank => "Receitas"} ) %>
                        </div>
                        <div class="mt10">
                            <%= submit_tag 'Adicionar', :class => 'submit-restricao', :id => 'receitas_fav_submit' %>
                        </div>
                    <% end %>
                <% end %>
            </div>
          </div>
        </div>
    </div> 
<% end %>

<div id="receitas_todos" class="tdyw-modal-box alpha60"> 
    <div class="tdyw-modal">
      <div class="tdyw-modal-title">
        Todos | Escolher receita
        <div class="close2">
            <%= link_to image_tag("selected.png", :border => 0), "javascript:;", {:class => 'tdyw-close-modal'} %>
        </div>
      </div>
      <div class="tdyw-modal-content">
        <div class="mt5">
            <%= form_tag '/ee_receitas_all' do %>
                <% if @receitas.length == 0 %>
                    <p>Não existem receitas disponíveis.</p>
                <% else %>
                    <div id="chosen-restricoes" class="ingredientes-menu">
                        <%= select_tag("receita", options_from_collection_for_select(@receitas_all, "id", "nome"), {:class =>'chosen-select4', :include_blank => "Receitas"} ) %>
                    </div>
                    <div class="mt10">
                        <%= submit_tag 'Adicionar', :class => 'submit-restricao', :id => 'receitas_all_submit' %>
                    </div>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
</div> 

<div id="wrap">
    <div class="conteudo-pagina perfil">
        <div class="top-perfil">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="foto-perfil">
                            <% if (current_user.photo.exists?) %>
                                <%= image_tag current_user.photo.url(:medium), :alt => 'Foto', :class => 'img-responsive' %>
                            <% else %>
                                <% if (current_user.provider == "facebook") %>
                                    <%= image_tag current_user.mediumFacebookImage, :alt => 'Foto', :class => 'img-responsive' %>
                                <% else %>
                                    <%= image_tag current_user.photo.url(:medium), :alt => 'Foto', :class => 'img-responsive' %>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="info-perfil">
                            <div class="nome-perfil">
                                <%= link_to current_user.nome, perfil_path %>
                            </div>
                            <div class="email-perfil">
                                <%= current_user.email %>
                            </div>
                            <div class="dados-perfil">
                                <% if (!current_user.sexo.empty?) %>
                                    <div class="dados">                            
                                        <%= image_tag current_user.sexo+'.png', :alt => current_user.sexo %>
                                        <%= current_user.sexo.capitalize %>
                                    </div>
                                <% end %>
                                <% if (!current_user.datanasc.blank?) %> 
                                    <div class="dados ml">   
                                        <%= image_tag 'age.png', :alt => 'idade' %>                     
                                        <%= current_user.age(current_user.datanasc) %> anos
                                    </div>
                                <% end %>
                                <div class="dados ml">
                                    <%= image_tag 'edit.png', :alt => 'editar' %>
                                    <%= link_to "Editar perfil", edit_user_registration_path %>
                                </div>
                            </div>
                            <div class="guardados-perfil">
                                <%= link_to("Receitas favoritas (#{@receitas.length})", receitas_favoritas_path, { :class => "button" }) %>
                                <%= link_to("Ementas guardadas (#{@ementas.length})", ementas_guardadas_path, { :class => "button" }) %>
                                <%= link_to("Restrições (#{@restricoes.length})", restricoes_path, { :class => "button" }) %>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>      
        </div>
        <div class="bottom-perfil">
            <div class="title-perfil-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <% if session["data_ementa_ee"].blank? %>
                                <% session["data_ementa_ee"] = @editarEmenta.data.to_date %>
                            <% end %>
                            <div class="title-perfil">Ementa de <%= l(@editarEmenta.data.to_date, format: :day_long) %></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tipoementa" class="editar_ementa_perfil container mt15">
                <% @date = !session["data_ementa_ee"].blank? ? session["data_ementa_ee"].to_date : @editarEmenta.data.to_date %>

                <div id="alerta_ementa">
                    <% if !session[:erro_restricoes].blank? %>
                        <% session.delete(:erro_restricoes) %>
                        <div class="alert_ementa">
                            Algumas receitas não foram adicionadas devido a restrições!
                        </div>
                    <% end %>
                </div>  

                <div id="alerta_ementa">
                    <% if !session[:return_to].blank? %>
                        <% session.delete(:return_to) %>
                        <div class="alert_ementa ementa_salva">
                            A ementa foi salva com sucesso!
                        </div>
                    <% end %>
                </div>      
                        
                <div class="row mt30 hidden-xs">
                    <div class="col-sm-12 text-left">
                        <%= link_to "Guardar alterações",  ee_guardar_ementa_path(:day => @date, :id => @editarEmenta.id), {:class=>"button"} %>
                        <%= link_to "Gerar nova ementa", "/ementa_perfil/#{@editarEmenta.id}/ee_nova_ementa", {:class=>"button"} %>
                        <%= link_to "Eliminar todos", "/ementa_perfil/#{@editarEmenta.id}/ee_reset", {:class=>"button"} %>
                        <select class="select-ementa"  name="selectEmentaPrincipal" id="selectEmentaPrincipal">
                            <% if !session["all_ee"].blank? %>
                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session["all_ee"].to_s) %>
                            <% else %>
                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, @editarEmenta.npessoas.to_s) %>
                            <% end %>
                        </select>
                    </div>
                </div>

                <div class="row hidden-xs mb70">
                    <div class="col-md-12 mt60">
                        <div class="ementa-container">
                            <div class="ementa-semana">
                                <div class="ementa-mes">
                                    <%= l(@date, format: :month_format) %>
                                    <!-- <%=h @date.strftime("%B") %> -->
                                    <span class="ementa-ano"><%= @date.year %></span>
                                </div>
                                <div class="ementa-semana-container">
                                    <%= link_to "e", "/ementa_perfil/#{@editarEmenta.id}/ee_prev_day", {:class=>"prev-day glyphter"} %>
                                    <div class="ementa-semana-dia">
                                        <div class="ementa-dia" id="a">
                                            <span class="ementa-dia-nro"><%= @date.day %></span>
                                            <!-- <%=h @date.strftime("%a") %> -->
                                            <%= l(@date, format: :day_format) %>
                                        </div>
                                        <div class="ementa-dia" id="b">
                                            <span class="ementa-dia-nro"><%= (@date+1).day %></span>
                                            <%= l(@date+1, format: :day_format) %>
                                            <!-- <%=h (@date+1).strftime("%a") %> -->
                                        </div>
                                        <div class="ementa-dia" id="c">
                                            <span class="ementa-dia-nro"><%= (@date+2).day %></span>
                                            <%= l(@date+2, format: :day_format) %>
                                            <!-- <%=h (@date+2).strftime("%a") %> -->
                                        </div>
                                        <div class="ementa-dia" id="d">
                                            <span class="ementa-dia-nro"><%= (@date+3).day %></span>
                                            <%= l(@date+3, format: :day_format) %>
                                            <!-- <%=h (@date+3).strftime("%a") %> -->
                                        </div>
                                        <div class="ementa-dia" id="e">
                                            <span class="ementa-dia-nro"><%= (@date+4).day %></span>
                                            <%= l(@date+4, format: :day_format) %>
                                            <!-- <%=h (@date+4).strftime("%a") %> -->
                                        </div>
                                        <div class="ementa-dia" id="f">
                                            <span class="ementa-dia-nro"><%= (@date+5).day %></span>
                                            <%= l(@date+5, format: :day_format) %>
                                            <!-- <%=h (@date+5).strftime("%a") %> -->
                                        </div>
                                        <div class="ementa-dia" id="g">
                                            <span class="ementa-dia-nro"><%= (@date+6).day %></span>
                                            <%= l(@date+6, format: :day_format) %>
                                            <!-- <%=h (@date+6).strftime("%a") %> -->
                                        </div>
                                    </div>
                                    <%= link_to "f", "/ementa_perfil/#{@editarEmenta.id}/ee_next_day", {:class=>"next-day glyphter"} %>
                                </div>
                            </div>
                            <div class="ementa-refeicao">
                                <%= content_tag :div, { :class => (session["pa_lock_ee"] == "lock" ? "ementa-nome lock" : "ementa-nome")} do %>
                                    <div class="ementa-nome-container">
                                        <span class="tc">
                                            <div class="nome">Pequeno-almoço</div>
                                        </span>
                                    </div>
                                    <div class="opcoes-receita">
                                        <div class="icon-div">
                                            <%= link_to("v", "/ee_add_ementa_refeicao?celula=pa", { :class => "glyphter reload" }) %>
                                        </div>
                                        <div class="icon-div">
                                            <%= link_to("N", "/ee_ementa_delete_refeicao?celula=pa", { :class => "glyphter delete" }) %>
                                        </div>
                                    </div>
                                    <div class="ementa-receita-option">
                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                        <div class="janela-opcoes-container">
                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                            <div class="janela-opcoes-container2">
                                                <div class="janela-opcoes-titulo">
                                                    Editar
                                                </div>
                                                <div class="janela-opcoes-grupo" id="pa_pessoas">
                                                    <select class="select-ementa refeicao-pessoas">
                                                        <% if !session["pa_pessoas_ee"].blank? %>
                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session["pa_pessoas_ee"].to_s) %>
                                                        <% else %>
                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, @editarEmenta.npessoas.to_s) %>
                                                        <% end %>
                                                    </select>
                                                    <div class="janela-opcao">
                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                        <%= link_to((session["pa_lock_ee"] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear_refeicao", :data => { :celula=> "pa_lock" } }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                                <div class="ementa-refeicao-container">
                                    <div class="ementa-refeicao-principal alone" id="1">
                                        <% @letter_array = ["a","b","c", "d", "e", "f", "g"] %>
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"1")).first %>

                                            <% if ((session[letter+"1_ee"].blank? && receita_celula_nro.blank?) || session[letter+"1_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"1"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"1", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"1_ee"].blank? ? (session[letter+"1_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"1"} do %>
                                                    <% if !session[letter+"1_ee"].blank? %>
                                                        <% if !session[letter+"1_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"1_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"1", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"1", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"1_ee"].blank? %>
                                                                            <% if !session[letter+"1_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"1_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"1_ee"].blank? %>
                                                                            <% if !session[letter+"1_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"1_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"1" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"1" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"1" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"1" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"1" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ementa-refeicao">
                                <%= content_tag :div, { :class => (session["a_lock_ee"] == "lock" ? "ementa-nome lock" : "ementa-nome")} do %>
                                    <div class="ementa-nome-container">
                                        <span class="tc">
                                            <div class="nome">Almoço</div>
                                        </span>
                                    </div>
                                    <div class="opcoes-receita">
                                        <div class="icon-div">
                                            <%= link_to("v", "/ee_add_ementa_refeicao?celula=a", { :class => "glyphter reload" }) %>
                                        </div>
                                        <div class="icon-div">
                                            <%= link_to("N", "/ee_ementa_delete_refeicao?celula=a", { :class => "glyphter delete" }) %>
                                        </div>
                                    </div>
                                    <div class="ementa-receita-option">
                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                        <div class="janela-opcoes-container">
                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                            <div class="janela-opcoes-container2">
                                                <div class="janela-opcoes-titulo">
                                                    Editar
                                                </div>
                                                <div class="janela-opcoes-grupo" id="a_pessoas">
                                                    <select class="select-ementa refeicao-pessoas">
                                                        <% if !session["a_pessoas_ee"].blank? %>
                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session["a_pessoas_ee"].to_s) %>
                                                        <% else %>
                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, @editarEmenta.npessoas.to_s) %>
                                                        <% end %>
                                                    </select>
                                                    <div class="janela-opcao">
                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                        <%= link_to((session["a_lock_ee"] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear_refeicao", :data => { :celula=> "a_lock" } }) %>
                                                    </div>
                                                </div>
                                                <div class="janela-opcoes-titulo titulo2">
                                                    Adicionar
                                                </div>
                                                <div class="janela-opcoes-grupo">
                                                    <% if session["entradaa_ee"] == "activo" %>
                                                        <% estado_extra_ea = "activo" %>
                                                    <% else %>
                                                        <% estado_extra_ea = "inactivo" %>
                                                    <% end %>
                                                    <%= content_tag :div, { :class => ("janela-opcao " + estado_extra_ea), :data => { :extra=> estado_extra_ea}} do %>
                                                        <input type="checkbox" id='entrada-a' class="entrada" value="entrada">
                                                        <label for="entrada-a">Entrada</label>
                                                    <% end %>

                                                    
                                                    <% if session["sobremesaa_ee"] == "activo" %>
                                                        <% estado_extra_sa = "activo" %>
                                                    <% else %>
                                                        <% estado_extra_sa = "inactivo" %>
                                                    <% end %>
                                                    <%= content_tag :div, { :class => ("janela-opcao " + estado_extra_sa), :data => { :extra=> estado_extra_sa}} do %>
                                                        <input type="checkbox" id='sobremesa-a' class="sobremesa" value="sobremesa">
                                                        <label for="sobremesa-a">Sobremesa</label>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                                <div class="ementa-refeicao-container">
                                    <% if session["entradaa_ee"] == "activo" %>
                                    <div class="ementa-refeicao-secundaria ementa-entrada" id="2">
                                    <% else %>
                                    <div class="ementa-refeicao-secundaria ementa-entrada" style="display: none;" id="2">
                                    <% end %>
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"2")).first %>

                                            <% if ((session[letter+"2_ee"].blank? && receita_celula_nro.blank?) || session[letter+"2_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"2"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"2", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"2_ee"].blank? ? (session[letter+"2_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"2"} do %>
                                                    <% if !session[letter+"2_ee"].blank? %>
                                                        <% if !session[letter+"2_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"2_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"2", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"2", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"2_ee"].blank? %>
                                                                            <% if !session[letter+"2_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"2_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"2_ee"].blank? %>
                                                                            <% if !session[letter+"2_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"2_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"2" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"2" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"2" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"2" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"2" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="ementa-refeicao-principal" id="3">
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"3")).first %>

                                            <% if ((session[letter+"3_ee"].blank? && receita_celula_nro.blank?) || session[letter+"3_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"3"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"3", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"3_ee"].blank? ? (session[letter+"3_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"3"} do %>
                                                    <% if !session[letter+"3_ee"].blank? %>
                                                        <% if !session[letter+"3_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"3_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"3", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"3", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"3_ee"].blank? %>
                                                                            <% if !session[letter+"3_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"3_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"3_ee"].blank? %>
                                                                            <% if !session[letter+"3_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"3_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"3" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"3" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"3" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"3" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"3" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                    <% if session["sobremesaa_ee"] == "activo" %>
                                    <div class="ementa-refeicao-secundaria ementa-sobremesa" id="4">
                                    <% else %>
                                    <div class="ementa-refeicao-secundaria ementa-sobremesa" style="display: none;" id="4">
                                    <% end %>
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"4")).first %>

                                            <% if ((session[letter+"4_ee"].blank? && receita_celula_nro.blank?) || session[letter+"4_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"4"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"4", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"4_ee"].blank? ? (session[letter+"4_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"4"} do %>
                                                    <% if !session[letter+"4_ee"].blank? %>
                                                        <% if !session[letter+"4_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"4_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"4", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"4", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"4_ee"].blank? %>
                                                                            <% if !session[letter+"4_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"4_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"4_ee"].blank? %>
                                                                            <% if !session[letter+"4_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"4_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"4" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"4" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"4" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"4" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"4" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ementa-refeicao">
                                <%= content_tag :div, { :class => (session["j_lock_ee"] == "lock" ? "ementa-nome lock" : "ementa-nome")} do %>
                                    <div class="ementa-nome-container">
                                        <span class="tc">
                                            <div class="nome">Jantar</div>
                                        </span>
                                    </div>
                                    <div class="opcoes-receita">
                                        <div class="icon-div">
                                            <%= link_to("v", "/ee_add_ementa_refeicao?celula=j", { :class => "glyphter reload" }) %>
                                        </div>
                                        <div class="icon-div">
                                            <%= link_to("N", "/ee_ementa_delete_refeicao?celula=j", { :class => "glyphter delete" }) %>
                                        </div>
                                    </div>
                                    <div class="ementa-receita-option">
                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                        <div class="janela-opcoes-container">
                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                            <div class="janela-opcoes-container2">
                                                <div class="janela-opcoes-titulo">
                                                    Editar
                                                </div>
                                                <div class="janela-opcoes-grupo" id="j_pessoas">
                                                    <select class="select-ementa refeicao-pessoas">
                                                        <% if !session["j_pessoas_ee"].blank? %>
                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session["j_pessoas_ee"].to_s) %>
                                                        <% else %>
                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, @editarEmenta.npessoas.to_s) %>
                                                        <% end %>
                                                    </select>
                                                    <div class="janela-opcao">
                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                        <%= link_to((session["j_lock_ee"] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear_refeicao", :data => { :celula=> "j_lock" } }) %>
                                                    </div>
                                                </div>
                                                <div class="janela-opcoes-titulo titulo2">
                                                    Adicionar
                                                </div>
                                                <div class="janela-opcoes-grupo">
                                                    <% if session["entradaj_ee"] == "activo" %>
                                                        <% estado_extra_ej = "activo" %>
                                                    <% else %>
                                                        <% estado_extra_ej = "inactivo" %>
                                                    <% end %>
                                                    <%= content_tag :div, { :class => ("janela-opcao " + estado_extra_ej), :data => { :extra=> estado_extra_ej}} do %>
                                                        <input type="checkbox" id='entrada-j' class="entrada" value="entrada">
                                                        <label for="entrada-j">Entrada</label>
                                                    <% end %>

                                                
                                                    <% if session["sobremesaj_ee"] == "activo" %>
                                                        <% estado_extra_sj = "activo" %>
                                                    <% else %>
                                                        <% estado_extra_sj = "inactivo" %>
                                                    <% end %>
                                                    <%= content_tag :div, { :class => ("janela-opcao " + estado_extra_sj), :data => { :extra=> estado_extra_sj}} do %>
                                                        <input type="checkbox" id='sobremesa-j' class="sobremesa" value="sobremesa">
                                                        <label for="sobremesa-j">Sobremesa</label>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                                <div class="ementa-refeicao-container">
                                    <% if session["entradaj_ee"] == "activo" %>
                                    <div id="5" class="ementa-refeicao-secundaria ementa-entrada">
                                    <% else %>
                                    <div id="5" class="ementa-refeicao-secundaria ementa-entrada" style="display: none;">
                                    <% end %>
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"5")).first %>

                                            <% if ((session[letter+"5_ee"].blank? && receita_celula_nro.blank?) || session[letter+"5_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"5"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"5", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"5_ee"].blank? ? (session[letter+"5_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"5"} do %>
                                                    <% if !session[letter+"5_ee"].blank? %>
                                                        <% if !session[letter+"5_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"5_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"5", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"5", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"5_ee"].blank? %>
                                                                            <% if !session[letter+"5_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"5_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"5_ee"].blank? %>
                                                                            <% if !session[letter+"5_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"5_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"5" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"5" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"5" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"5" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"5" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="6" class="ementa-refeicao-principal">
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"6")).first %>

                                            <% if ((session[letter+"6_ee"].blank? && receita_celula_nro.blank?) || session[letter+"6_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"6"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"6", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"6_ee"].blank? ? (session[letter+"6_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"6"} do %>
                                                    <% if !session[letter+"6_ee"].blank? %>
                                                        <% if !session[letter+"6_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"6_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"6", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"6", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"6_ee"].blank? %>
                                                                            <% if !session[letter+"6_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"6_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"6_ee"].blank? %>
                                                                            <% if !session[letter+"6_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"6_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"6" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"6" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"6" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"6" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"6" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                    <% if session["sobremesaj_ee"] == "activo" %>
                                    <div id="7" class="ementa-refeicao-secundaria ementa-sobremesa">
                                    <% else %>
                                    <div id="7" class="ementa-refeicao-secundaria ementa-sobremesa" style="display: none;">
                                    <% end %>
                                        <% i=0 %>
                                        <% @letter_array.each do |letter| %>
                                            <% receita_celula_nro = EmentaReceita.where(:ementa_id => @editarEmenta.id, :celula => (letter+"7")).first %>

                                            <% if ((session[letter+"7_ee"].blank? && receita_celula_nro.blank?) || session[letter+"7_ee_empty"] == 1)  %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita empty last" : "ementa-receita empty"), :id => letter+"7"} do %>
                                                    <span class="tc">
                                                        <%= content_tag :span, "X", { :class => "add-receita", :data => { :celula=> letter+"7", :usi => (user_signed_in? ? 1 : 0) }} %>
                                                    </span>
                                                <% end %>
                                                <% i+=1 %>
                                            <% else %>
                                                <%= content_tag :div, { :class => (letter == "g" ? "ementa-receita last" : "ementa-receita")+(!session[letter+"7_ee"].blank? ? (session[letter+"7_ee"][:lock] == "lock" ? " lock" : "") : ""), :id => letter+"7"} do %>
                                                    <% if !session[letter+"7_ee"].blank? %>
                                                        <% if !session[letter+"7_ee"][:receita].blank? %>
                                                            <% receita_celula = Receita.find(session[letter+"7_ee"][:receita]) %>
                                                        <% end %>
                                                    <% else %>
                                                        <% receita_celula = Receita.find(receita_celula_nro.receita_id) %>
                                                    <% end %>
                                                    <div class="nome-div">
                                                        <span class="tc nome">
                                                            <%= link_to receita_celula.nome, "receita/#{receita_celula[:id]}", { :target => :blank } %>
                                                        </span>
                                                    </div>
                                                    <div class="opcoes-receita">
                                                        <div class="icon-div">
                                                            <%= link_to("v", "javascript:;", { :class => "glyphter reload", :data => { :celula=> letter+"7", :receitaid => receita_celula.id, :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                        <div class="icon-div">
                                                            <%= link_to("N", "javascript:;", { :class => "glyphter delete", :data => { :celula=> letter+"7", :usi => (user_signed_in? ? 1 : 0) } }) %>
                                                        </div>
                                                    </div>
                                                    <div class="ementa-receita-option">
                                                        <a href="javascript:;" class="link-receita-option" ><%= image_tag 'arrow-option.png', :alt => 'editar' %></a>
                                                        <div class="janela-opcoes-container">
                                                            <%= image_tag 'arrow-option-up.png', :alt => '', :class => 'arrow-up' %>
                                                            <div class="janela-opcoes-container2">
                                                                <div class="janela-opcoes-titulo">
                                                                    Editar
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <select class="select-ementa receita-pessoas">
                                                                        <% if !session[letter+"7_ee"].blank? %>
                                                                            <% if !session[letter+"7_ee"][:pessoas].blank? %>
                                                                                <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, session[letter+"7_ee"][:pessoas].to_s) %>
                                                                            <% else %>
                                                                                <option value="2">2 Pessoas</option>
                                                                                <option value="3">3 Pessoas</option>
                                                                                <option value="4">4 Pessoas</option>
                                                                                <option value="5">5 Pessoas</option>
                                                                                <option value="6">6 Pessoas</option>
                                                                                <option value="7">7 Pessoas</option>
                                                                                <option value="8">8 Pessoas</option>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= options_for_select({ "2 Pessoas" => "2", "3 Pessoas" => "3", "4 Pessoas" => "4", "5 Pessoas" => "5", "6 Pessoas" => "6", "7 Pessoas" => "7", "8 Pessoas" => "8" }, receita_celula_nro.npessoas.to_s) %>
                                                                        <% end %>
                                                                    </select>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'lock.png', :alt => 'bloquear' %>
                                                                        <% if !session[letter+"7_ee"].blank? %>
                                                                            <% if !session[letter+"7_ee"][:lock].blank? %>
                                                                                <%= link_to((session[letter+"7_ee"][:lock] == "lock" ? "Desbloquear" : "Bloquear"), "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"7" } }) %>
                                                                            <% else %>
                                                                                <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"7" } }) %>
                                                                            <% end %>
                                                                        <% else %>
                                                                            <%= link_to("Bloquear", "javascript:;", { :class => "bloquear", :data => { :celula=> letter+"7" } }) %>
                                                                        <% end %>
                                                                    </div>
                                                                </div>
                                                                <div class="janela-opcoes-titulo titulo2">
                                                                    Preencher com
                                                                </div>
                                                                <div class="janela-opcoes-grupo">
                                                                    <% if user_signed_in? %>
                                                                        <div class="janela-opcao">
                                                                            <%= image_tag 'icon-fav.png', :alt => 'fav' %>
                                                                            <%= link_to("Favoritos", "javascript:;", { :class => "add_from_fav", :data => { :celula=> letter+"7" } }) %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="janela-opcao">
                                                                        <%= image_tag 'icon-all2.png', :alt => 'todos' %>
                                                                        <%= link_to("Todos", "javascript:;", { :class => "add_from_all", :data => { :celula=> letter+"7" } }) %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                                <% i+=1 %>
                                            <% end %>
                                        <% end %>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row visible-xs mt30">
                    <div class="col-xs-12">
                        Lamentamos mas a personalização da ementa não está disponível para esta resolução.
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>