<div id="wrap">
	<div class="conteudo-pagina perfil">
		<div class="top-perfil">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="foto-perfil">
							<% if (current_user.photo.exists?) %>
								<%= image_tag current_user.photo.url(:medium), :alt => 'Foto', :class => 'img-responsive' %>
							<% else %>
								<% if (current_user.provider == "facebook") %>
									<%= image_tag current_user.mediumFacebookImage, :alt => 'Foto', :class => 'img-responsive' %>
								<% else %>
									<%= image_tag current_user.photo.url(:medium), :alt => 'Foto', :class => 'img-responsive' %>
								<% end %>
							<% end %>
						</div>
						<div class="info-perfil">
                            <div class="nome-perfil">
                                <%= link_to current_user.nome, perfil_path %>
                            </div>
                            <div class="email-perfil">
                                <%= current_user.email %>
                            </div>
                            <div class="dados-perfil">
                                <% if (!current_user.sexo.empty?) %>
                                    <div class="dados">                            
                                        <%= image_tag current_user.sexo+'.png', :alt => current_user.sexo %>
                                        <%= current_user.sexo.capitalize %>
                                    </div>
                                <% end %>
                                <% if (!current_user.datanasc.blank?) %> 
                                    <div class="dados ml">   
                                        <%= image_tag 'age.png', :alt => 'idade' %>                     
                                        <%= current_user.age(current_user.datanasc) %> anos
                                    </div>
                                <% end %>
                                <div class="dados ml">
                                    <%= image_tag 'edit.png', :alt => 'editar' %>
                                    <%= link_to "Editar perfil", edit_user_registration_path %>
                                </div>
                            </div>
                            <div class="guardados-perfil">
                                <%= link_to("Receitas favoritas (#{@receitas.length})", receitas_favoritas_path, { :class => "button" }) %>
                                <%= link_to("Ementas guardadas (#{@ementas.length})", ementas_guardadas_path, { :class => "button" }) %>
                                <%= link_to("Restrições (#{@restricoes.length})", restricoes_path, { :class => "button" }) %>
                            </div>
                        </div>
					</div>
				</div>			
			</div>		
		</div>
		<div class="bottom-perfil">
			<div class="title-perfil-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-perfil">Restrições (<%= @restricoes.length %>)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt15">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ementa-diaria text-left">
                            <% empty = 0 %>
                            <% @restricoes.each do |restricao| %>
                            	<% if restricao.ingrediente != nil %>
	                                <% empty += 1 %>

	                                <div class="restricao">
	                                	<span><%= restricao.ingrediente.nome %></span>
	                                	<%= link_to "", remover_restricao_path(:id => restricao.id), {:class=>"remove-restricao"} %>
	                                </div>
	                                <br>
	                            <% end %>

                            <% end %>   
                            <% if empty == 0 %>
                                <div class="mt15">
                                	Ainda não foram adicionadas restrições.
                                </div>
                            <% end %>                   
                        </div>
                    </div>
                </div>
            </div>

			<div class="title-perfil-container mt30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-perfil">Adicionar nova restrição</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt15">
	            <div class="row">
					<%= form_tag '/add_restricao' do %>
						<div class="col-md-4 mt10">
							<div id="chosen-restricoes" class="ingredientes-menu">
								<%= select_tag("ingrediente", options_from_collection_for_select(@ingredientes, "id", "nome"), {:class =>'chosen-select3', :include_blank => "Ingrediente"} ) %>
							</div>
						</div>
						<div class="col-md-4 mt10 text-left">
							<div class="ingredientes-menu">
								<%= submit_tag 'Adicionar', :class => 'submit-restricao' %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>