<div id="wrap">
	<div class="conteudo-pagina">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="titulo">Ajuda</div>
				</div>
			</div>

			<div class="row ajuda mt30">
				<div class="col-xs-12">
					<div class="titulo-ajuda top">Modo de criação rápida:</div>
				</div>
			</div>

			<div class="row ajuda mt15 lista-box">
				<div class="col-sm-9 col-md-10 lista">
					1 - <b>Seleciona quantos dias pretendes programar:</b> esta ferramenta adapta-se ao teu estilo de vida por isso permite a seleção dos dias da semana que gostarias de organizar.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/dias.jpg', :alt => 'dias', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					2 - <b>Seleciona quantas refeições fazes:</b> para um início simples escolhe quantas refeições fazes, em média, por dia (pequeno-almoço, almoço ou jantar).
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/refeicoes.jpg', :alt => 'pessoas', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					3 - <b>Seleciona o número de pessoas:</b> adaptamos a tua ementa à tua rotina diária por isso podes escolher o número médio de pessoas, para que os ingredientes de cada receita estejam em quantidades adequadas.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/pessoas.jpg', :alt => 'refeições', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					4 - <b>Geração da ementa:</b> por defeito as nossas ementas são preenchidas com receitas que permitem a variedade e o equilíbrio entre refeições. Contudo damos-te total liberdade para preencheres a tua ementa.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/criar_ementa.jpg', :alt => 'criar ementa', :class => 'img-responsive' %>
				</div>
			</div>

			<div class="row ajuda mt60">
				<div class="col-xs-12">
					<div class="titulo-ajuda top">Modo de criação personalizada:</div>
				</div>
			</div>

			<div class="row ajuda mt15 lista-box">
				<div class="col-sm-9 col-md-10 lista">
					1 - <b>Começar em branco:</b> selecionando o botão “eliminar todos” permitimos-te estruturar a tua ementa desde o início, podendo assim preencher cada espaço disponível com uma receita à tua escolha.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/eliminar.jpg', :alt => 'eliminar', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					2 - <b>Adicionar uma receita:</b> basta clicares no espaço correspondente ao dia e à refeição que pretendes preencher para adicionar uma receita aleatoriamente.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/adicionar.jpg', :alt => 'adicionar', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					3 - <b>Adicionar complementos de refeição:</b> os almoços e os jantares podem ser complementados com entradas e sobremesas. Para isso, carrega na seta da refeição a que pretendes adicionar complementos e verás que aparecerá uma linha extra na tua ementa. Depois basta adicionares receitas nessa nova linha.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/complemento.jpg', :alt => 'complemento', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					4 - <b>Adicionar receitas numa refeição semanal:</b> com esta ferramenta podes preencher uma refeição da semana de forma automática. Assim, todos os pequenos-almoços, almoços ou jantares da tua ementa serão preenchidos de forma automática.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/semanal.jpg', :alt => 'semanal', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					5 - <b>Apagar receitas:</b> cada receita possui um ícone para que a possas apagar. Depois poderás escolher outra refeição ou então deixar o espaço disponível.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/apagar.jpg', :alt => 'apagar', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					6 - <b>Apagar refeições:</b> assim como cada receita também podes apagar a mesma refeição de toda a semana.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/apagar_ementa.jpg', :alt => 'apagar ementa', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					7 - <b>Trocar receitas:</b> existe alguma receita que não te agrada? Não necessitas de a apagar e tornar a adicionar uma nova, basta clicares no botão “gerar nova receita” e poderás preenchê-la com uma do teu agrado ou então nós escolhemos uma por ti.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/trocar_receita.jpg', :alt => 'trocar receita', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					8 - <b>Trocar uma receita para outro dia ou para outra refeição:</b> cada receita criada pode ser arrastada para outro dia ou para outra refeição. Se o espaço a ocupar estiver preenchido, as receitas serão trocadas entre si.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/move.jpg', :alt => 'mover receita', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					9 - <b>Ajustar número de pessoas na ementa:</b> caso pretendas corrigir o número de pessoas para o qual cada receita da tua ementa está preparada podes ajustá-lo nas opções avançadas de edição. Caso alteres o número de pessoas geral, este irá substituir todas as opções mais específicas nas receitas.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/pessoas_ementa.jpg', :alt => 'pessoas ementa', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					10 - <b>Ajustar o número de pessoas numa receita:</b> cada receita tem as suas ferramentas de edição. Entre elas tens a possibilidade de ajustar o número de pessoas que pretende.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/pessoas_receita.jpg', :alt => 'pessoas receita', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					11 - <b>Bloquear refeição:</b> agradam-te todas as receitas de uma refeição mas pretendes gerar aleatoriamente as restantes? Podes bloquear essa refeição e todas as receitas correspondentes manter-se-ão.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/bloquear_refeicao.jpg', :alt => 'bloquear refeicao', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					12 - <b>Bloquear receita:</b> ao bloquear uma receita podes gerar uma nova ementa sem que esta seja perdida.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/bloquear_receita.png', :alt => 'bloquear receita', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					13 - <b>Adicionar receita a partir dos favoritos:</b> é possível adicionares uma receita específica dos teus favoritos se carregares no botão "Preencher com favoritos" e seleccionares a receita. Estã opção só aparece se tiveres o login feito.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/favoritos.png', :alt => 'bloquear receita', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					14 - <b>Escolher receita a adicionar:</b> tal como nos favoritos, é possível escolheres a receita que queres adicionar numa determinada refeição, basta carregares em "Preencher com todos" e seleccionares a receita.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/todos.png', :alt => 'bloquear receita', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					15 - <b>Guardar ementa:</b> ao selecionar o botão “guardar ementa” tens a possibilidade de armazenar a tua ementa no teu perfil pessoal.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/guardar_ementa.jpg', :alt => 'guardar ementa', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					16 - <b>Actualizar ementa:</b> se já guardaste a tua ementa mas não ficaste satisfeito, ao selecionares o botão “actualizar ementa” tens a possibilidade de alterar a última ementa guardada.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/actualizar_ementa.jpg', :alt => 'actualizar ementa', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					17 - <b>Download:</b> pretendes guardar a ementa no teu computador? Faz o download da ementa em PDF.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/download.jpg', :alt => 'download', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					18 - <b>Lista de compras:</b> esta ferramenta permite-te ter acesso a todos os ingredientes que serão necessários para a confeção de todas as receitas da ementa. Organizamos cada produto por categorias de forma a que a próxima ida às compras seja fácil e rápida.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/lista.jpg', :alt => 'lista de compras', :class => 'img-responsive' %>
				</div>

				<div class="col-sm-9 col-md-10 lista">
					19 - <b>Vistas:</b> damos-te a oportunidade de visualizar a tua ementa de 2 formas diferentes: modo grelha onde terás uma vista geral da organização da ementa e onde poderás ajustá-la ao teu gosto; e o modo diário onde poderás visualizar com mais detalhe cada receita do dia.
				</div>
				<div class="col-sm-3 col-md-2 lista-img">
					<%= image_tag 'ementa/vista.jpg', :alt => 'vista', :class => 'img-responsive' %>
				</div>
			</div>
		
		</div>
	</div>
</div>