<div id="wrap">
	<div id="ementa-diaria" class="conteudo-pagina">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="titulo">Ementa diária</div>
				</div>
			</div>
			<% @date = !session["data_ementa"].blank? ? session["data_ementa"].to_date : Date.today %>
			<div class="row mt30 hidden-xs">
				<div class="col-sm-12 text-right">
					<% if !session[:return_to].blank? %>
						<% session.delete(:return_to) %>
						<div id="ementa_salva">
							A ementa foi salva com sucesso!
						</div>
					<% end %>
					<% if user_signed_in? %>
						<%= link_to (!session["ementa"].blank? ? "Actualizar Ementa" : "Guardar Ementa"), ementa_guardar_ementa_path(:day => @date, :ne => "0"), {:class=>"button"} %>
					<% else %>
						<%= link_to("Guardar Ementa", new_user_session_path, { :class => "button" }) %>
					<% end %>
					<%= link_to("Ajuda", ajuda_path, { :class => "button", :target => "_blank" }) %>
					<span class="ementa-icon">
						<div class="icon-div">
							<%= link_to image_tag("view-table.png", :border => 0), "ementa", {:class => 'image-link'} %>
							<div class="label-icon">Vista semanal</div>
						</div>
						<div class="icon-div">
							<%= link_to image_tag("view-list.png", :border => 0), "ementa_diaria", {:class => 'image-link'} %>
							<div class="label-icon">Vista diária</div>
						</div>
					</span>
				</div>
			</div>
			<div class="row mt30 hidden-xs">
				<div class="col-md-12">
					<div class="ementa-semana">
						<div class="ementa-mes">
							<%= l(@date, format: :month_format) %>
							<!-- <%=h @date.strftime("%B") %> -->
							<span class="ementa-ano"><%= @date.year %></span>
						</div>
						<div class="ementa-semana-container">
							<div class="ementa-semana-dia">
								<%= link_to "/ementa_diaria?dia_ementa=a" do %>
									<%= content_tag :div, { :id => "a", :class => (@dia_ementa == "a" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= @date.day %></span>
										<%= l(@date, format: :day_format) %>
									<% end %>
								<% end %>
								<%= link_to "/ementa_diaria?dia_ementa=b" do %>
									<%= content_tag :div, { :id => "b", :class => (@dia_ementa == "b" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= (@date+1).day %></span>
										<%= l(@date+1, format: :day_format) %>
									<% end %>
								<% end %>
								<%= link_to "/ementa_diaria?dia_ementa=c" do %>
									<%= content_tag :div, { :id => "c", :class => (@dia_ementa == "c" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= (@date+2).day %></span>
										<%= l(@date+2, format: :day_format) %>
									<% end %>
								<% end %>
								<%= link_to "/ementa_diaria?dia_ementa=d" do %>
									<%= content_tag :div, { :id => "d", :class => (@dia_ementa == "d" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= (@date+3).day %></span>
										<%= l(@date+3, format: :day_format) %>
									<% end %>
								<% end %>
								<%= link_to "/ementa_diaria?dia_ementa=e" do %>
									<%= content_tag :div, { :id => "e", :class => (@dia_ementa == "e" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= (@date+4).day %></span>
										<%= l(@date+4, format: :day_format) %>
									<% end %>
								<% end %>
								<%= link_to "/ementa_diaria?dia_ementa=f" do %>
									<%= content_tag :div, { :id => "f", :class => (@dia_ementa == "f" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= (@date+5).day %></span>
										<%= l(@date+5, format: :day_format) %>
									<% end %>
								<% end %>
								<%= link_to "/ementa_diaria?dia_ementa=g" do %>
									<%= content_tag :div, { :id => "g", :class => (@dia_ementa == "g" ? "ementa-dia selected" : "ementa-dia")} do %>
										<span class="ementa-dia-nro"><%= (@date+6).day %></span>
										<%= l(@date+6, format: :day_format) %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row hidden-xs">
				<div class="col-xs-12">
					<div class="ementa-diaria">
						<% @i = 1 %>
						<% empty = 0 %>
						<% while @i < 8  do %>
		                	<% if @i == 1 %>
		                		<% @nome_refeicao = "Pequeno-Almoço" %>
		                		<% @nome_tipo_refeicao = "Refeição Principal" %>
		                	<% elsif @i == 2 %>
		                		<% @nome_refeicao = "Almoço" %>
		                		<% @nome_tipo_refeicao = "Entrada" %>
		                	<% elsif @i == 3 %>
		                		<% @nome_refeicao = "Almoço" %>
		                		<% @nome_tipo_refeicao = "Refeição Principal" %>
		                	<% elsif @i == 4 %>
		                		<% @nome_refeicao = "Almoço" %>
		                		<% @nome_tipo_refeicao = "Sobremesa" %>
		                	<% elsif @i == 5 %>
		                		<% @nome_refeicao = "Jantar" %>
		                		<% @nome_tipo_refeicao = "Entrada" %>
		                	<% elsif @i == 6 %>
		                		<% @nome_refeicao = "Jantar" %>
		                		<% @nome_tipo_refeicao = "Refeição Principal" %>
		                	<% else %>
		                		<% @nome_refeicao = "Jantar" %>
		                		<% @nome_tipo_refeicao = "Sobremesa" %>
		                	<% end %>

		                	<% if ((@i == 1 && !session[@dia_ementa+1.to_s].blank?) || (@i == 2 && (!session[@dia_ementa+2.to_s].blank? || !session[@dia_ementa+3.to_s].blank? || !session[@dia_ementa+4.to_s].blank?)) || (@i == 5 && (!session[@dia_ementa+5.to_s].blank? || !session[@dia_ementa+6.to_s].blank? || !session[@dia_ementa+7.to_s].blank?))) %>
			                	<div class="ementa-diaria-refeicao">
									<%= @nome_refeicao %>
								</div>
							<% end %>

			                <% if !session[@dia_ementa+@i.to_s].blank? %>
			                	<% empty += 1 %>
			                	<% @receita_ementa_diaria = Receita.find(session[@dia_ementa+@i.to_s][:receita]) %>
			                	<% session["receita"+@receita_ementa_diaria[:id].to_s+"_pessoas"] = session[@dia_ementa+@i.to_s][:pessoas] %>

								<div class="ementa-diaria-subrefeicao">
									<%= @nome_tipo_refeicao %>
								</div>

								<div class="bloco-receita">
									
									<div class="col-xs-12 col-sm-5 col-lg-5 mt10">
										<%= image_tag(@receita_ementa_diaria.imagem.url(:list), :class => 'img-responsive', alt: @receita_ementa_diaria[:nome]) %>

										<div class="receita-diaria-info">
											<div class="actions">
												<div class="icon">
													<div class="icon-div">
														<%= link_to("s", "receita/"+@receita_ementa_diaria[:id].to_s+".pdf", { :class=>"glyphter", :target => "_blank"}) %>
														<div class="label-icon">Download</div>
													</div>

													<div class="icon-div">
														<% if user_signed_in? %>
															<% if fav = UserReceita.where(:user_id => current_user.id, :receita_id => @receita_ementa_diaria[:id]).first %>
																<%= link_to("i", "javascript:;", { :class => "glyphter fav-button fav-blue", :data => { :receitaid=> @receita_ementa_diaria[:id] } }) %>
															<% else %>
																<%= link_to("i", "javascript:;", { :class => "glyphter fav-button", :data => { :receitaid=> @receita_ementa_diaria[:id] } }) %>
															<% end %>
															<div class="label-icon">Favorito</div>
														<% else %>
															<%= link_to("i", new_user_session_path, { :class => "glyphter fav-button" }) %>
															<div class="label-icon">Favorito</div>
														<% end %>
													</div>

												</div>
												<div class="icon-div">
													<%= content_tag :div, {class: "rating-receita"} do %>
														<% if @receita_ementa_diaria.ratings.length > 0 %>
															<% average = @receita_ementa_diaria.average_rating %>
														<% else %>
															<% average = 0 %>
														<% end %>


														<% if average < 0.5 %>
															<%= image_tag 'star0.png', :alt => 'Rating' %>
														<% elsif average < 1.5 %>
															<%= image_tag 'star1.png', :alt => 'Rating' %>
														<% elsif average < 2.5 %>
															<%= image_tag 'star2.png', :alt => 'Rating' %>
														<% elsif average < 3.5 %>
															<%= image_tag 'star3.png', :alt => 'Rating' %>
														<% elsif average < 4.5 %>
															<%= image_tag 'star4.png', :alt => 'Rating' %>
														<% else %>
															<%= image_tag 'star5.png', :alt => 'Rating' %>
														<% end %>
													<% end %>
													<div class="label-icon">Rating</div>
												</div>
												<div class="thanks-voting thanks-fav">
													Adicionado aos favoritos!
												</div>
												<div class="thanks-voting thanks-fav-remove">
													Removido dos favoritos!
												</div>
											</div>
											<div class="receita-diaria-buttons">
												<%= link_to("Ver receita", "receita/#{@receita_ementa_diaria.id}", { :class => "button", :target => "_blank" }) %>
											</div>	
											<div style="clear: both;"></div>	
										</div>							
				            	   	</div>
				            	   	<div class="col-xs-12 col-sm-7 col-lg-7 mt10">
										<div class="nome-receita-diaria"> <%= @receita_ementa_diaria.nome %> </div>
										<div class="pessoas-receita-diaria"> (<%= session[@dia_ementa+@i.to_s][:pessoas].blank? ? "2" : session[@dia_ementa+@i.to_s][:pessoas] %> pessoas) </div>
				            	   		<div class="info-nutricional">
											<div class="info-block">
												<%= image_tag 'clock.png', :alt => 'Tempo' %>
												<div class="tempo"><%= @receita_ementa_diaria[:tempo] %> min</div>
											</div>
											
											<div class="info-block">
												<%= image_tag 'tabela.png', :alt => 'Tempo' %>
												<div class="titulo-info">Valores nutricionais <span class="small">(V.D.R)</span></div>
											</div>

											<ol class="info-valores">
												<% if @receita_ementa_diaria.calorias %>
													<li><%= @receita_ementa_diaria[:calorias] %> <span class="info-title">Kcal</span></li>
												<% end %>

												<% if @receita_ementa_diaria.hidratos %>
													<li><%= @receita_ementa_diaria[:hidratos] %>g <span class="info-title">Hidratos de carbono</span></li>
												<% end %>

												<% if @receita_ementa_diaria.gorduras %>
													<li><%= @receita_ementa_diaria[:gorduras] %>g <span class="info-title">Gorduras</span></li>
												<% end %>

												<% if @receita_ementa_diaria.proteinas %>
													<li><%= @receita_ementa_diaria[:proteinas] %>g <span class="info-title">Proteínas</span></li>
												<% end %>

												<% if @receita_ementa_diaria.acucar %>
													<li><%= @receita_ementa_diaria[:acucar] %>g <span class="info-title">Açúcares</span></li>
												<% end %>
											</ol>
										</div>

										<p class="sub-diaria">
											<%= @receita_ementa_diaria[:descricao] %>
										</p>
										
				            	   	</div>
			            	   	</div>
			                <% end %>
			                <% @i +=1 %>
			            <% end %>	
			            <% if empty == 0 %>
		            		<div class="ementa-diaria-subrefeicao mt60">
								Não existem receitas a apresentar para este dia.
							</div>
			            <% end %>					
	               	</div>
	            </div>

			</div>

			<div class="row visible-xs mt30">
				<div class="col-xs-12">
					Lamentamos mas a personalização da ementa só está disponível em dispositivos com um ecrã maior.
				</div>
			</div>

		</div>
	</div>

</div>